{% extends "baseTemplate.html"%}

{% block content %}
<!-- start banner Area -->
<section class="relative about-banner">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="about-content col-lg-12">
        <h1 class="text-white">
          My Portfolio
        </h1>
        <p class="text-white link-nav"><a href="/">Home </a> <span class="lnr lnr-arrow-right"></span> <a href="contact">Portfolio</a></p>
      </div>
    </div>
  </div>
</section>
<br>
<br>
<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Nimbus AI</h4>
      </div>
      <div class="card-body">
        <!-- <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1> -->
        <ul class="list-unstyled mt-3 mb-4">
          <h1 class="card-title pricing-card-title"><small class="text-muted">A web-based application to automate the process of selecting the best-suited Machine learning Model for the given data.</small></h1>
          <li>Automatically handles and prepares the input data.</li>
          <li>Works for both Classification and Regression Problems.</li>
        </ul>
        <a class="btn btn-lg btn-block btn-primary" href="/nimbus" role="button">Launch</a>
        <!-- <button type="button" class="btn btn-lg btn-block btn-primary">Try IT!!</button> -->
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Nimbus Image</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title"><small class="text-muted">A web-based application to classify images using Keras Application Models.</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Image classification.</li>
          <li>Work in progress</li>
          <li>Transfer Learning Models ..coming soon</li>
          <li>Deploying Personal Models ..coming soon</li>
        </ul>
        <a class="btn btn-lg btn-block btn-primary" href="http://nimbus-image.herokuapp.com/" role="button">Launch</a>
        <!-- <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button> -->
      </div>
    </div>
    <!-- <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Enterprise</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ mo</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>30 users included</li>
          <li>15 GB of storage</li>
          <li>Phone and email support</li>
          <li>Help center access</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-primary">Contact us</button>
      </div>
    </div> -->
  </div>
</div>

<!-- End banner Area -->


{%endblock%}